h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: xx-large;
}
h2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: x-large;
}
body{
    background-image: url(./images/weather-images.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h3{
    font-family:Georgia, 'Times New Roman', Times, serif;
}